<%= turbo_frame_tag "cocktails" do %>
  <%= link_to sanitize("&larr; Go to #{@category.name}"), category_path(@category), class: "btn" %>
  <div class="cocktail_main">
    <h1><%= @cocktail.name.titleize %></h1>
    <%= image_tag(@cocktail.picture, alt: @cocktail.name, height: 300, width: 300) %>
    <%= render @cocktail.ingredients.sort { |a, b| a.name <=> b.name } %>
    <h3>Instructions</h3>
    <%= @cocktail.instructions %>
  </div>
<% end %>
