<%= turbo_frame_tag "cocktails" do %>
  <%= turbo_stream_from "ingredients" %>
  <%= link_to sanitize("&larr; Go to #{@category.name}"), category_path(@category), class: "btn"%>
  <div class="cocktail_main">
    <h1><%= @cocktail.name.titleize %></h1>
    <%= image_tag(@cocktail.picture, alt: @cocktail.name, height: 300, width: 300) %>
    <div id="ingredients">
      <%= render @cocktail.ingredients.sort { |a, b| a.name <=> b.name } %>
    </div>
    <br>
    <%= link_to 'Add ingredient', category_cocktail_add_ingredient_form_path(category_id: @category, cocktail_id: @cocktail), class: 'submit_cocktail btn', data: { turbo_frame: 'ingredient_form' } %>
    <%= turbo_frame_tag 'ingredient_form' %>
    <h3>Instructions</h3>
    <%= @cocktail.instructions %>
  </div>
<% end %>
