<%= link_to sanitize("&larr; Back to Categories"), categories_path %>

<%= turbo_frame_tag "cocktails" do %>
  <%#= render "cocktails/empty_state" %>
  <h1><%= @category.name %></h1>    <%= button_to image_tag('delete.png', width: 30, height: 30), category_path(id: @category), method: :delete, class: 'delete_btn' %>
  <br>
  <%= render @cocktails %>
<% end %>